
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The purpose of this site is to display the Mazes I will be building as I read through <a href="https://pragprog.com/titles/jbmaze/mazes-for-programmers/" target="_blank">Mazes for Programmers</a>.</p>

<p>I have the following learning objectives as I work through "Mazes":</p>

<ul>
    <li>Build a Mazes web app using .NET Framework, Razor pages, and MVC 5. Complete a <a href="https://app.pluralsight.com/library/courses/asp-net-mvc5-web-apps/table-of-contents">MVC 5 Pluralsight course</a>.</li>
    <li>Try to apply <a href="https://en.wikipedia.org/wiki/SOLID">SOLID principles</a>. Get feedback from other book club members on how well I am implementing SOLID principles. Learn from code reviewing other book club members' code.</li>
    <li>Learn more about algorithms by working through the "Mazes" book.</li>
</ul>