
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This site is to display the Mazes I will be building as I read through <a href="https://pragprog.com/titles/jbmaze/mazes-for-programmers/" target="_blank">Mazes for Programmers</a>.</p>
