@model Maze_Creator.Models.Maze

@{
    ViewBag.Title = "Home Page";
}

<h1>Mazes</h1>

<canvas id="maze" width=@(Model.Length * 100) height=@(Model.Width * 100) style="border:1px solid #000000;" />


<script>
    // add checks for maze being valid -> should go in controller
    var canvas = document.getElementById("maze");
    var ctx = canvas.getContext("2d");

    @{
        int x = 0;
        int y = Model.Length * 100;

        for (int i = 0; i < Model.Length; i++)
        {
            x = 0;
            y -= 100;
            @Html.Raw($"ctx.moveTo({x}, {y});");

            var row = Model.Grid[i];

            for (int j = 0; j < Model.Width; j++)
            {
                var cell = row[j];

                if (cell.North)
                {
                    x += 100;
                    @Html.Raw($"ctx.lineTo({x}, {y}); ctx.stroke();");
                }

                if (cell.East)
                {
                    y += 100;
                    @Html.Raw($"ctx.lineTo({x}, {y}); ctx.stroke(); ctx.moveTo({x}, {y - 100});");
                    y -= 100;
                }
            }
        }
    }



    /*for (var i = 0; i < length; i++)
    {
        for (var j = 0; j < width; j++)
        {

        }
    }*/


    //ctx.lineTo(100, 100);
    //ctx.stroke();
</script>



