@model Maze_Creator.Models.Maze

@{
    ViewBag.Title = "Home Page";
}

<h1>Mazes</h1>

<canvas id="maze" width="600" height="600" style="border:1px solid #000000;" />


<script>
    var canvas = document.getElementById("maze");
    var ctx = canvas.getContext("2d");
    ctx.moveTo(100, 0);
    ctx.lineTo(100, 100);
    ctx.stroke();
</script>



